h1{
    font-size: 30px;
}

p{
    font-size: 25px;
}

.dotted-border{
    border-style: dotted;
    border-color: aqua;
    border-width: 8px;
    margin-bottom: 20px;
}

.dashed-border{
    border-style: dashed;
    border-color: aqua;
    border-width: 8px;
    margin-bottom: 20px;
}

.solid-border{
    border-style: solid;
    border-color: aqua;
    border-width: 8px;
    margin-bottom: 20px;
}

.double-border{
    border-style: double;
    border-color: aqua;
    border-width: 8px;
    margin-bottom: 20px;
}

.groove-border{
    border-style: groove;
    border-color: aqua;
    border-width: 8px;
    margin-bottom: 20px;
}

.ridge-border{
    border-style: ridge;
    border-color: aqua;
    border-width: 8px;
    margin-bottom: 20px;
}

.inset-border{
    border-style: inset;
    border-color: aqua;
    border-width: 8px;
    margin-bottom: 20px;
}

.outset-border{
    border-style: outset;
    border-color: aqua;
    border-width: 8px;
    margin-bottom: 20px;
}

.none-border{
    border-style: none;
    border-color: aqua;
    border-width: 8px;
    margin-bottom: 20px;
}

.hidden-border{
    border-style: hidden;
    border-color: aqua;
    border-width: 8px;
    margin-bottom: 20px;
}

.mix-border{
    border-style: dotted dashed solid double;
    border-color: aqua;
    border-width: 8px;
    margin-bottom: 20px;
}

